<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	

<plugins>
	    <!-- com.github.pagehelper为PageHelper类所在包名 -->
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">
	        <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 
	        <property name="param1" value="value1"/>-->
		</plugin>
</plugins>

	<!-- 加载sql映射文件 -->
	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>
		<mapper resource="mapper/AreaMapper.xml"/>
		<mapper resource="mapper/CompanyMapper.xml"/>
		<mapper resource="mapper/CompanytoindexMapper.xml"/>
		<mapper resource="mapper/GradeMapper.xml"/>
		<mapper resource="mapper/IndexesMapper.xml"/>
		<mapper resource="mapper/OriginaldataMapper.xml"/>
		<mapper resource="mapper/UsertocompanyMapper.xml"/>
		<mapper resource="mapper/UsertoindexMapper.xml"/>
		<mapper resource="mapper/IndexForProcessing.xml"/>
	</mappers>
	
	

</configuration>
