<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.AreaMapper" >
  <resultMap id="BaseResultMap" type="entity.Area" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="areainfo" property="areainfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, areainfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.Area" >
    insert into area (id, areainfo)
    values (#{id,jdbcType=INTEGER}, #{areainfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areainfo != null" >
        areainfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areainfo != null" >
        #{areainfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Area" >
    update area
    <set >
      <if test="areainfo != null" >
        areainfo = #{areainfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Area" >
    update area
    set areainfo = #{areainfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 <select id="getidArea" resultType="int" parameterType="String">
 	select id from area where areainfo like #{areainfo}
 </select>
 <select id="countAreaSkill" parameterType="int" resultType="pojo.Skill">
	 SELECT indexinfo as name,COUNT(1) as value FROM skill AS s
	LEFT JOIN companytoindex AS ci ON s.id=ci.idindexes 
	LEFT JOIN company AS c ON ci.idcompany=c.id
	LEFT JOIN AREA AS a ON a.id=c.idarea WHERE a.id=1 GROUP BY indexinfo ORDER BY VALUE DESC LIMIT 0,15
 </select>
 <select id="countAreaBackground" parameterType="int" resultType="pojo.Background">
SELECT indexinfo AS NAME,COUNT(1) AS VALUE FROM background AS b
LEFT JOIN companytoindex AS ci ON b.id=ci.idindexes 
LEFT JOIN company AS c ON ci.idcompany=c.id
LEFT JOIN AREA AS a ON a.id=c.idarea WHERE a.id=1 GROUP BY indexinfo ORDER BY VALUE DESC LIMIT 0,15
 </select>
</mapper>