<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.OriginaldataMapper" >
  <resultMap id="BaseResultMap" type="entity.Originaldata" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="idarea" property="idarea" jdbcType="INTEGER" />
    <result column="companyemail" property="companyemail" jdbcType="VARCHAR" />
    <result column="otherinfo" property="otherinfo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="entity.Originaldata" extends="BaseResultMap" >
    <result column="companyinfo" property="companyinfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, companyname, idarea, companyemail, otherinfo
  </sql>
  <sql id="Blob_Column_List" >
    companyinfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from originaldata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from originaldata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.Originaldata" >
    insert into originaldata (id, companyname, idarea, 
      companyemail, otherinfo, companyinfo
      )
    values (#{id,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR}, #{idarea,jdbcType=INTEGER}, 
      #{companyemail,jdbcType=VARCHAR}, #{otherinfo,jdbcType=VARCHAR}, #{companyinfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.Originaldata" >
    insert into originaldata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
      <if test="idarea != null" >
        idarea,
      </if>
      <if test="companyemail != null" >
        companyemail,
      </if>
      <if test="otherinfo != null" >
        otherinfo,
      </if>
      <if test="companyinfo != null" >
        companyinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="idarea != null" >
        #{idarea,jdbcType=INTEGER},
      </if>
      <if test="companyemail != null" >
        #{companyemail,jdbcType=VARCHAR},
      </if>
      <if test="otherinfo != null" >
        #{otherinfo,jdbcType=VARCHAR},
      </if>
      <if test="companyinfo != null" >
        #{companyinfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Originaldata" >
    update originaldata
    <set >
      <if test="companyname != null" >
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="idarea != null" >
        idarea = #{idarea,jdbcType=INTEGER},
      </if>
      <if test="companyemail != null" >
        companyemail = #{companyemail,jdbcType=VARCHAR},
      </if>
      <if test="otherinfo != null" >
        otherinfo = #{otherinfo,jdbcType=VARCHAR},
      </if>
      <if test="companyinfo != null" >
        companyinfo = #{companyinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="entity.Originaldata" >
    update originaldata
    set companyname = #{companyname,jdbcType=VARCHAR},
      idarea = #{idarea,jdbcType=INTEGER},
      companyemail = #{companyemail,jdbcType=VARCHAR},
      otherinfo = #{otherinfo,jdbcType=VARCHAR},
      companyinfo = #{companyinfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Originaldata" >
    update originaldata
    set companyname = #{companyname,jdbcType=VARCHAR},
      idarea = #{idarea,jdbcType=INTEGER},
      companyemail = #{companyemail,jdbcType=VARCHAR},
      otherinfo = #{otherinfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>