<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UsertoindexMapper" >
  <resultMap id="BaseResultMap" type="entity.Usertoindex" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="iduser" property="iduser" jdbcType="INTEGER" />
    <result column="idindexes" property="idindexes" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, iduser, idindexes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from usertoindex
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from usertoindex
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.Usertoindex" >
    insert into usertoindex (id, iduser, idindexes
      )
    values (#{id,jdbcType=INTEGER}, #{iduser,jdbcType=INTEGER}, #{idindexes,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.Usertoindex" >
    insert into usertoindex
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="iduser != null" >
        iduser,
      </if>
      <if test="idindexes != null" >
        idindexes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="iduser != null" >
        #{iduser,jdbcType=INTEGER},
      </if>
      <if test="idindexes != null" >
        #{idindexes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Usertoindex" >
    update usertoindex
    <set >
      <if test="iduser != null" >
        iduser = #{iduser,jdbcType=INTEGER},
      </if>
      <if test="idindexes != null" >
        idindexes = #{idindexes,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Usertoindex" >
    update usertoindex
    set iduser = #{iduser,jdbcType=INTEGER},
      idindexes = #{idindexes,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>